/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-image:url("/Menu/little-wallpaper.png");
	-fx-background-size: cover;
}

.label {
	-fx-font-size: 20px;
	-fx-font-family: "Kristen ITC";
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.button {
	-fx-text-fill: black;
	-fx-font-size: 20px;
	-fx-font-family: "Kristen ITC";
	-fx-font-weight: bold;
	-fx-background-color: none;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 2, 0.0, 0, 1);
	-fx-background-radius: 50, 10;
	-fx-background-insets: -1.4, 0;
 	-fx-border-radius: 50;
}

 
.button:hover {
	-fx-background-color: linear-gradient(#F0E68C, #FFFFF0);
}

.button:pressed {
    -fx-background-color: linear-gradient(#A05220, #DEB887);
}

#title-text {
	-fx-font-size: 40px;
	-fx-font-family: "Kristen ITC";
	-fx-fill: black;
}